In [1]:
import pandas as panda
import numpy as nump
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [2]:
dataset=panda.read_csv("who_suicide.csv")
dataset.head(10)

   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years          NaN    277900.0
1  Albania  1985  female  25-34 years          NaN    246800.0
2  Albania  1985  female  35-54 years          NaN    267500.0
3  Albania  1985  female   5-14 years          NaN    298300.0
4  Albania  1985  female  55-74 years          NaN    138700.0
5  Albania  1985  female    75+ years          NaN     34200.0
6  Albania  1985    male  15-24 years          NaN    301400.0
7  Albania  1985    male  25-34 years          NaN    264200.0
8  Albania  1985    male  35-54 years          NaN    296700.0
9  Albania  1985    male   5-14 years          NaN    325800.0

In [3]:
#removing null value rows from dataset and again checking number of null rows in dataset
dataset.dropna(inplace=True)
print(dataset.isnull().sum())

country        0
year           0
sex            0
age            0
suicides_no    0
population     0
dtype: int64

In [4]:
#printing information of dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36060 entries, 24 to 43763
Data columns (total 6 columns):
country        36060 non-null object
year           36060 non-null int64
sex            36060 non-null object
age            36060 non-null object
suicides_no    36060 non-null float64
population     36060 non-null float64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.9+ MB

In [5]:
#checking Age ranges
print(dataset.age.unique())

['15-24 years' '25-34 years' '35-54 years' '5-14 years' '55-74 years'
 '75+ years']

In [6]:
#Preprocessing, Converting AGE Groups into integer values and Gender ~ Female=0,Male=1 for model testing and predictions
mydata=dataset
mydata=mydata.drop(['country'],axis=1)#removed country column from 'mydata'
#replacing age groups with integer values
mydata['age']=mydata['age'].replace('5-14 years',0)
mydata['age']=mydata['age'].replace('15-24 years',1)
mydata['age']=mydata['age'].replace('25-34 years',2)
mydata['age']=mydata['age'].replace('35-54 years',3)
mydata['age']=mydata['age'].replace('55-74 years',4)
mydata['age']=mydata['age'].replace('75+ years',5)
mydata['sex']=mydata['sex'].replace('female',0)
mydata['sex']=mydata['sex'].replace('male',1)

#adding two more columns for model training and testing

mydata['suicides/100k_population']=(mydata.suicides_no/mydata.population)/100000
mydata['fatality_rate']=nump.where(mydata['suicides/100k_population']>mydata['suicides/100k_population'].mean(),0,1)

In [10]:
#Dividing dataset into training and testing sets
X = nump.array(mydata.drop(['sex', 'suicides_no'], 1))
y=nump.array(mydata.age)
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=42)

from sklearn.naive_bayes import GaussianNB 
mod = GaussianNB() 
mod.fit(X_train, y_train) 
  

y_pred = gnb.predict(X_test) 
  

from sklearn import metrics 
print("Naive Bayes accuracy is: {:.2f}%".format(accuracy_score(y_test,mod.predict(X_test))*100))

Naive Bayes accuracy is: 20.31%

In [11]:
print(classification_report(model.predict(X_test),y_test))

NameError: name 'classification_report' is not defined